$PrimaryBtn: rgb(255, 94, 0);
$ContactButton: white;

footer{
        display: flex;
        justify-content: center;
        button{
            background: $PrimaryBtn;
            &:hover{
                background: white;
                text-emphasis-color: $ContactButton;
            }
        }
    }
    
    