.page_inner {
    background: tint(grey);
  }

.page_header {
    position: relative;
    z-index: 10;
    background: #fff;
    color: rgb(0, 211, 0);
    box-shadow: inset 0 -1px 0 0 alpha($color: #000000);
  
    > .inner {
      @extend .row, !optional;
    }
  }
  
  .page_header_fixed {
    position: fixed;
    width: 100%;
    @extend .clearfix !optional;
  }
  
  .page__headline {
    float: left;
    margin-right: 1em;
  }
  
  .page_title {
    font-size: inherit;
    line-height: 1;
    margin: 0;
    padding-top: .7em;
    padding-bottom: .8em;
    a {
      display: inline-block;
      vertical-align: top;
    }
  }